/*span.switcher {*/
/*  position: relative; width: 200px; height: 500px;*/
/*  border-radius: 25px; margin: 20px 0;*/
/*  background-color: #1e1e1e;*/
/*}*/
/*a.switcher {*/
/*  border-radius: 25px; margin: 20px 0;*/
/*  width: 20px; height: 50px;*/
/*  background-color: #1e1e1e;*/
/*}*/
/*input#switcher-1 {*/
/*  appearance: none;*/
/*  position: relative;*/
/*  margin-top: -1px;*/
/*  border-radius: 25px;*/
/*  background-color: #1e1e1e;*/
/*  outline: none; cursor: pointer;*/
/*  font-family: '0swald' sans-serif;*/
/*}*/

/*input#switcher-1:before, input#switcher-1:after {*/
/*  z-index: 2; position: absolute;*/
/*  top: 50%; color: #fff;*/
/*  transform: translateY(-50%);*/
/*}*/
/*input#switcher-1:before {*/
/*  content: 'ON'; left: 25px;*/
/*}*/
/*input#switcher-1:after {*/
/*  content: 'OFF'; right: 25px;*/
/*}*/
/*label {*/
/*  z-index: 1;position: absolute;*/
/*  top: 10px; bottom: 10px;*/
/*  border-radius: 20px;*/
/*}*/
/*.switcher-1 input {*/
/*  transition: 0.25s -0.1s;*/
/*}*/
/*input#switcher-1:checked {*/
/*  background-color: #fff;*/
/*}*/
/*input#switcher-1:checked:before {*/
/*  color: white;*/
/*  transition: color 0.5s 0.2s;*/
/*}*/
/*input#switcher-1:checked:after {*/
/*  color: #ccc;*/
/*  transition: color 0.5s;*/
/*}*/
/*input#switcher-1:checked + label {*/
/*  left: 10px; right: 100px;*/
/*  background: #1e1e1e;*/
/*  transition: left 0.5s, right 0.4s 0.2s;*/
/*}*/
/*input#switcher-1:not(:checked) {*/
/*  background: #1e1e1e;*/
/*  transition: background 0.5s -0.1s;*/
/*}*/
/*input#switcher-1:not(:checked):before {*/
/*  color: #ccc;*/
/*  transition: color 0.5s;*/
/*}*/
/*input#switcher-1:not(:checked):after {*/
/*  color: #1e1e1e;*/
/*  transition: color 0.5s 0.2s;*/
/*}*/
/*input#switcher-1:not(:checked) + label {*/
/*  left: 100px; right: 10px;*/
/*  background: #fff;*/
/*  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;*/
/*}*/


