<div class="row">
  <div class="col-xs-12">
    <form #ingredientForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nameIngredient">Name</label>
          <input
            class="form-control"
            #nameIngredient="ngModel"
            id="nameIngredient"
            name="nameIngredient"
            ngModel
            required
            type="text">
          <span *ngIf="nameIngredient.invalid && nameIngredient.touched"
                class="help-block">Please enter a name !</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            class="form-control"
            id="amount"
            name="amountIngredient"
            ngModel
            pattern="^[1-9]+[0-9]*$"
            required
            type="number">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button
              class="btn btn-success"
              [disabled]="ingredientForm.invalid"
              type="submit"
            >{{editMode ? 'Update' : 'Add'}}
            </button>
            <button class="btn btn-danger"
                    type="button"
                    (click)="onDelete()"
                    [disabled]="!editMode"
            >Delete
            </button>
            <button class="btn btn-primary"
                    type="button"
                    (click)="onClear()"
            >Clear Shopping List
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
